<div class="bootstrap-wrapper">
    <div class="container">
       
        <header id="header">
            <h1>Welcome To IQ</h1>
        </header>
        <!-- Intro -->
        <div id="card" style="margin-top: -6%;">
        <article id="intro">
            <p>"IQ" is a dynamic quiz platform that challenges users with diverse topics, helping them sharpen their knowledge and track progress. Ideal for both students and quiz enthusiasts, it offers a fun and competitive way to enhance intellectual growth.</p>
            <button routerLink="/signup" >Register Yourself To Start</button>
        </article>
        <!-- Benefits -->
        
        <section class="section">
            <img src="https://media.istockphoto.com/id/1398462038/photo/online-exam-or-test.webp?b=1&s=612x612&w=0&k=20&c=t0iyMh8eo2CAytCxp0K7oqnQdcXCHFjDEHLR0elU97E=">
           
        </section>
        </div>
       
        
      
       
      
          
    </div>
</div>
                
